
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/ProyectoNW/obj/Debug/ProyectoNW.csprojAssemblyReference.cache
ProyectoNW/ProyectoNW/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/v16/.suo
ProyectoNW/ProyectoNW/obj/Debug/ProyectoNW.csprojAssemblyReference.cache
ProyectoNW/ProyectoNW/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProyectoNW/.vs/ProyectoNW/v16/Server/sqlite3/storage.ide-wal
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/v16/.suo
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
*.config
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
ProyectoNW/.vs/ProyectoNW/v16/Server/sqlite3/storage.ide-shm
ProyectoNW/.vs/ProyectoNW/v16/Server/sqlite3/storage.ide-shm
ProyectoNW/.vs/ProyectoNW/v16/Server/sqlite3/storage.ide-wal
ProyectoNW/.vs/ProyectoNW/config/applicationhost.config
